<!DOCTYPE html>
<html>
<head>
  <title>Estadistica</title>
  <link rel = "stylesheet" type = "text/css" href = "/css/estilos.css">
</head>
<body>
  <header>
    <div>
      <img src = "/imagenes/loogo.png" width = "150" alt = "Logotipo">
    </div>
  </header>

  <div class="main">
    <form id="formModQuestion" action="/admin/procesaShowQuestInArea" method="GET">
      <h2>Seleccione el area</h2>
      <br/>
      <input type="radio" name="area" value= "1" checked>Examen Clínico<br>
      <input type="radio" name="area" value= "2" checked>Farmacología y Terapéutica<br>
      <input type="radio" name="area" value= "3" checked>Enferm. Infecciosas y Parasitarias<br>
      <input type="radio" name="area" value= "4" checked>Clínica Médica<br>
      <input type="radio" name="area" value= "5" checked>Clínica Quirúrgica<br>
      <input type="radio" name="area" value= "6" checked>Manejo Poblacional<br>
      <br>
      <br/>
      <button id="guardar" type="submit">Seleccionar</button>
    </form>
  </div>
</body>
</html>
