<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/css/estilos.css">
</head>
<body>
  <header>
    <table  align="center" width="*%" cellspacing=1 cellpadding=1>
      <tr>
        <td>
        <img src="/imagenes/loogo.png" width="300" alt="Logotipo" title="Logo del la aplicacion TriviaVet">
        </td>
        <td><h1>TriviaVetWeb</h1></td>
      </tr>
    </table> 
  </header>
  
  <div class="main" style="padding-top: 35px;">
    <a href="/login"><input class = "btn btn-primary" type = "button" value = "LOGIN" style='width:100px; height:50px'></a>
    <p class="fondo">Entorno para la carga, modificación de preguntas y estadisticas de los jugadores de la aplicación móvil TriviaVet </p>
  </div>

  <footer>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>Creado por Boaglio Agustin, Mercau Gaston y Saenz Luciano</p>
  </footer>
</body>
</html>