<!DOCTYPE html>
<html>
<body>
    <p> Cargar una nueva pregunta </p>
    <form id="formQuestion" action="/admin/procesaQuestion" method="POST">
        Seleccione el area en donde ira la pregunta:<br>
        <input type="radio" name="area" value= "1" checked> Area 1<br>
        <input type="radio" name="area" value= "2" checked> Area 2<br>
        <input type="radio" name="area" value= "3" checked> Area 3<br>
        Pregunta: <br>
        <input type="text" name="preg"> <br>
        Respuesta Correcta: <br>
        <input type="text" name="resp1"><br>
        Respuesta Incorrecta: <br>
        <input type="text" name="resp2"><br>
        Respuesta Incorrecta: <br>
        <input type="text" name="resp3"><br>
        Respuesta Incorrecta: <br>
        <input type="text" name="resp4"><br><br>
        <button id="guardar" type="submit" > Guardar Pregunta</button>
    </form>
</body>
</html>
