<!DOCTYPE html>
<html>
<body>

    

    

    <h4>Cantidad de preguntas hechas en el area {{areaId}}</h4>
    <h4>{{pregTotArea}}</h4>

     <h4>Cantidad de preguntas contestadas en forma correcta en el area {{areaId}}</h4>
      <h4>{{pregCorrectArea}}</h4>

     <h4>Cantidad de preguntas contestadas en forma incorrecta en el area {{areaId}}</h4>
      <h4>{{pregIncorectArea}}</h4>

      <h4>Cantidad de veces que se hizo la pregunta {{pregId}} en el area {{areaId}}</h4>
    <h4>{{nvpa}}</h4>

    <h4>Cantidad de veces que  la pregunta {{pregId}} se contesto en forma correcta en el area {{areaId}}</h4>
    <h4>{{nvpca}}</h4>

    <h4>Cantidad de veces que la pregunta {{pregId}} se contesto forma incorrecta en el area {{areaId}}</h4>
    <h4>{{nvpia}}</h4>


</body>
</html>