<!DOCTYPE html>
<html>
<head>
    <title>Estadisticas</title>
    <link rel = "stylesheet" type = "text/css" href = "/css/estilos.css">
</head>
<body>
    <header>
        <div>
            <img src = "/imagenes/loogo.png" width = "150" alt = "Logotipo">
        </div>
    </header>

        <div class="container">
            <h3> PREGUNTAS CONTESTADAS INCORRECTAMENTE </h3>
            <div class="card card-container">
                <table class="idTable">
                    <tr>
                        <th class="columna"> #</th>
                        <th class="columna"> Pregunta </th>
                        <th class = "columna"> Cantidad </th>
                    </tr>

                    {{#listMapQuestIncorrectArea}}
                    <tr>          
                        <td class="fila"> 
                            <a style="color:black;" value={{id}}>
                                {{id}}
                            </a>
                        </td>
                        <td class="fila"> {{preg}} </td>
                        <td class = "fila"> {{nvpia}} </td>
                    </tr>
                    {{/listMapQuestIncorrectArea}}

                </table>   
            </div>
        </div>
        </script>
    </body>
</html>
