<!DOCTYPE html>
<html>
<head>
    <title>Estadisticas</title>
    <link rel = "stylesheet" type = "text/css" href = "/css/estilos.css">
</head>
<body>
    <header>
        <div>
            <img src = "/imagenes/loogo.png" width = "150" alt = "Logotipo">
        </div>
    </header>
    <form>
	<div class="container">
		{{#areaId}}
		<h3> PREGUNTAS HECHAS EN EL AREA </h3>
		{{/areaId}}
		<div class="card card-container">
			{{#pregTotArea}}
                            <h4> Total de preguntas: {{pregTotArea}} </h4>
			{{/pregTotArea}}

			{{#pregCorrectArea}}
                            <h4> Correctas: {{pregCorrectArea}} </h4>
                        {{/pregCorrectArea}}

			{{#pregIncorrectArea}}
                            <h4> Incorrectas: {{pregIncorrectArea}}</h4>
                        {{/pregIncorrectArea}}

			{{^error}}
                            <h4>{{error}}</h4>
			{{/error}}
	
			<form class="form-play" method="get">
				
				{{#areaId}}
                    <a href="/admin/procesaShowQuestCorrectArea?areaId={{areaId}}" style="color:#ffffff;"><input class="btn btn-primary" type="button" value="Listar correctas"></a>
                    <a href="/admin/procesaShowQuestIncorrectArea?areaId={{areaId}}" style="color:#ffffff;"><input class="btn btn-primary" type="button" value="Listar incorrectas"></a>
				{{/areaId}}
			</form>
	</div>
	<input type="button" onclick=" location.href='/admin/volver' " value="Volver a inicio" name="boton" />
	</form>
</body>
</html>
