body {
	color: black;
	background: url(../imagenes/pngtree-solid-color-matte-background-blue-gradient-wind-background-color-mattesolid-backgroundblue-image_84871.jpg);
	background-size: 100% 100%;
	background-position: center;
}

.formQuestion {
	width: 40%;
	border: 3px solid #000000;
	margin: auto;
	text-align: center;
}

.main {
	width: 40%;
	margin: auto;
	text-align: center;
}

.p {
	width: 25%;
	border: 3px solid #000000;
	margin: auto;
	text-align: center;
}

.main2 {
	width: 25%;
	margin: auto;
	padding: 10px;
	text-align: center;
}

.titleTrivia {
	font-family: 'Times New Roman', Times, serif;
	font-size: 60px
}

.container {
	width: 30%;
	margin: auto;
	text-align: center;
	border: 3px solid #000000;
}

form {
	width: 60%;
	margin: auto;
	padding: 10px;
	border: 3px solid #000000;
	text-align: center;
	font-family: sans-serif;
}

input {
	margin-bottom: 20px;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type = "button"]:hover {
	background: #c7e3db;
	cursor: pointer;
}

form div {
	padding-top: .1px;
	text-align: center;
	font-family: sans-serif;
}
